alabaster==1.0.0
babel==2.17.0
certifi==2026.1.4
charset-normalizer==3.4.4
colorama==0.4.6
docutils==0.22.4
grpcio==1.76.0
idna==3.11
imagesize==1.4.1
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==2.4.0
orjson==3.11.5
packaging==25.0
pandas==2.3.3
protobuf==6.33.2
Pygments==2.19.2
pymilvus==2.6.6
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
requests==2.32.5
roman-numerals==4.1.0
setuptools==80.9.0
six==1.17.0
snowballstemmer==3.0.1
Sphinx==9.1.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
tabulate==0.9.0
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
